.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: center;
  }
body {
    background-color:#3b3b3b;
    color:#eaeaea;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
}
a:link {
    color: rgb(97, 134, 255);
  }
  /* visited link */
  a:visited {
    color: rgb(97, 134, 255);
  }
  /* mouse over link */
  a:hover {
    color: #8ebf42;
  }
  /* selected link */
  a:active {
    color: #8ebf42;
  }